body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

div {
    display: block;
    box-sizing: border-box;
}

header {
    display: block;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #f37494;
    margin-bottom: 0px;
    font-weight: bold;
}

.header1 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-right: 5rem;
}

.logo {
    width: fit-content;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 5rem;
    line-height: inherit;
    white-space: nowrap;
    font-size: 1.25rem;
}

.logo img {
    width: 50%;
    vertical-align: middle;
    border-style: none;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    color: #f37494;
    font-weight: bold;
}

.nav-link1 {
    color: white;
    background-color: #f37494;
    border-radius: 50rem;
    margin: 10px 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0.374rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1rem;
}

.nav-link:hover {
    color: #be4665;
}

.nav-link1:hover {
    background-color: #be4665;
}

div.table-content {
    margin-left: 5%;
    margin-right: 10%;
}

div.table-content2 {
    margin: 0;
}

div.content {
    width: 100%;
    float: left;
    padding: 0px;
}

div.content img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    float: left;
    display: inline-block;
    width: 100%;
}

div.content2 { 
    width: 30%;
    float: left;
    padding: 50px;
}

div.content2 img {
    margin: 1rem 1rem 1rem 1rem;
    display: inline-block;
    width: 100%;
}

.twitter-tweet {
    background-color: lightblue;
    width: 100%;
    height: 250px;
    overflow: scroll;
}

div.content3 { 
    width: 100%;
    float: left;
    padding: 50px;  
    border-bottom: 2px solid  #e77f4e;
    height: 20px;
}

div.content4{
    width: 25%;
    float: left;
    padding: 10px;
}

div.content4 img {
    display: inline-block;
    width: 100%;
    height: 150px;
    padding: 10px;
}

div.content4 a:hover {
    color: #f37494;
}

div.content5 {
    width: 100%;
    float: left;
    background-color: #ffeef2;
    margin: 0;
}

div.content6{
    width: 25%;
    float: left;
    padding: 10px;
    background-color: #be4665;
}

div.content6 img {
    display: inline-block;
    width: 100%;
    height: 150px;
    padding: 10px;
}

div.content7 {
    width: 25%;
    float: left;
    margin: 50px;
    display: inline-block;
}

div.content8 {
    width: 50%;
    float: left;
    margin: 50px;
}

div.footer {
    width: 100%;
    float: left;
    margin: 0px;
    display: inline-block;
    background-color: #ffeef2;
}

div.footer1 {
    width: 15%;
    float: left;
    padding: 15px;
    margin: 30px;
}

div.footer1 a:hover {
    color: #be4665;
}

div.table-content3 {
    margin-left: 25%;
    margin-right: 25%;
}

div.berita1 {
    margin-left: 25%;
    margin-right: 25%;
}

div.berita1 img {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
}

div.table-content4 {
    margin-top: 20px;
}

div.biodata {
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 0.25rem;
    border-color: #ffeef2;
    border: 1px solid #ffeef2;
}

div.hubungi-kami {
    text-align: center;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 0.25rem;
    border-color: #ffeef2;
    border: 1px solid #ffeef2;
}

.hubungi-kami-judul {
    font-weight: 900;
    color: #be4665;
    margin: 3rem;
    text-align: center;
    font-size: 2rem;
}

input[type=text], input[type=email], input[type=password], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

input[type=submit] {
    background-color: #be4665;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2em;
    cursor: pointer;
  }

input[type=reset] {
    background-color: #ffeef2;
    border: none;
    border-radius: 5px;
    color: #f37494;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2em;
    cursor: pointer;
}